[Unit]
Description=OpenVPN local config
After=openvpn-server@.service

[Service]
Type=oneshot
ExecStart=/etc/openvpn/config.sh

[Install]
WantedBy=multi-user.target
