[Unit]
Description=OpenVPN Client Monitor
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart openvpn-client@out.service

[Install]
WantedBy=multi-user.target
