[Unit]
Description=OpenVPN firewalld rules
After=firewalld.service
Before=openvpn@server.service

[Service]
Type=oneshot
ExecStart=/etc/openvpn/server/update-openvpn-firewalld-rules.sh

[Install]
WantedBy=multi-user.target
